---
import { Image } from "astro:assets";
import heroImage from "../assets/rucksack.jpeg";
import Layout from "../components/layout.astro";
---

<Layout>
  <Image src={heroImage} alt="" height="250" />
  <h1>Astro</h1>
</Layout>
