---
import { Image } from "astro:assets";
import OptionalLink from "./optional-link.astro";

const { title, copy, image, href = "" } = Astro.props.item;

// Import images from all relevant paths
const rootImages = import.meta.glob("../assets/*", { eager: true });
const nestedImages = import.meta.glob("../assets/*/*", { eager: true });
const allImages = { ...rootImages, ...nestedImages };
---

<OptionalLink href={href}>
  <figure class="mb-8">
    <div class="aspect-[3/2] w-full relative overflow-hidden">
      <Image
        src={allImages[image]?.default || allImages['../assets/rucksack.jpeg'].default}
        widths={[480, 960]}
        sizes={`(max-width: 480px) 480px, 960px`}
        alt={title}
        class="w-full h-full object-cover absolute inset-0"
      />
    </div>
    <figcaption>
      <div class="text-l font-medium my-2">{title}</div>
      <div class="text-l font-extralight">{copy}</div>
    </figcaption>
  </figure>
</OptionalLink>
