---
import "../assets/global.css";
import Seo from "./seo.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <Seo
    title="Astro Minimal Starter"
    description="This is an Astro Minimal Starter Website with a SEO optimizing component, Tailwind CSS integration and many more whistles and bells."
    />
  </head>
  <body>
    <slot />
  </body>
</html>
