---
import "../assets/global.css";
import Seo from "./seo.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  robots?: boolean;
}

const { title, description, image, robots = true }: Props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <Seo
      title={title}
      description={description}
      image={image}
      robots={robots}
    />
    <!-- Vercel Analytics -->
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
